.navbar-signed-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  background-color: $theme-primary;
  height: 63px;
  z-index: 10;
}

.navbar-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $theme-secondary;

  &-hamburger {
    display: none;
  }
  &-login {
    padding: 7px 16px;
    border-radius: 50px;
    background-color: $theme-tertiary;
    color: $theme-secondary;
    cursor: pointer;
    transition: 0.2s ease;

    a {
      outline: none;
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      background-color: $theme-secondary;
      color: $theme-tertiary;
    }
  }
}
.navbar-tabs-tab {
  margin-right: 30px;

  & a {
    text-decoration: none;
    color: $theme-secondary;

    &:hover {
      text-decoration: underline;
    }
  }

  text-align: center;
}

.navbar-tabs-profile {
  width: 40px;
  border: solid 1px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    height: 36px;
    width: 36px;
    color: $theme-secondary;
  }
}

@media (max-width: $mobile) {
  .navbar-signed-in {
    padding: 0 10px;
  }
  .navbar-tabs-tab {
    display: none;
  }
  .navbar-tabs-hamburger {
    display: block;

    & img {
      width: 50px;
      height: 50px;
    }
  }
}
